.va__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.va__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.va__navbar-links_logo{
    margin-right: 2rem;
}

.va__navbar-links_logo img{
    width: 51.56px;
    height: 50.02px;
}

.va__navbar-links_container{
    display: flex;
    flex-direction: row;
}

.va__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}